# Variables

Variables are symbolic names that act as containers for storing data values.

Variables are assigned using '='.

By storing data in variables we can do more complex stuffs, such as arithmetic operation, etc.

There are some rules to follow while declaring a variable:

    - mustnot start with a number or special character (except underscore)
    - there must not be space between name(can use underscore to show space)
    - can contain only alphanumeric characters or underscore
    - they cannot be python reserved keywords

In [ ]:
a = 23
b = 32
# Some arithmetic operations
print(f"{a} + {b} = {a+b}")
print(f"{a} - {b} = {a-b}")
print(f"{a} * {b} = {a*b}")
print(f"{a} / {b} = {a/b}")

23 + 32 = 55
23 - 32 = -9
23 * 32 = 736
23 / 32 = 0.71875

Lets see some errors

In [5]:
*sas = 232

SyntaxError: starred assignment target must be in a list or tuple (2176316132.py, line 1)

In [6]:
23xs = 321

SyntaxError: invalid decimal literal (1743717407.py, line 1)

In [8]:
arith sum = 32

SyntaxError: invalid syntax (520999966.py, line 1)

# Datatypes

Python  categorizes data into various built-in types, which determine the kind of values a variable can hold and the operations that can be performed on them.

The built-in datatypes include:

## 1. Numeric Types

In [10]:
# int (Integers): Whole numbers, positive or negative, without decimal points.
x = 10
# float (Floating-point numbers): Numbers with a decimal point.
y = 3.14
# complex (Complex numbers): Numbers with a real and imaginary part (e.g., a + bj).
z = 2 + 5j
print(x,y,z)

10 3.14 (2+5j)

## 2. Sequence Types

In [11]:
# str (Strings): Sequences of characters, enclosed in single or double quotes.
name = "Jane"
# list (Lists): Ordered, mutable (changeable) sequences of items, enclosed in square brackets.
my_list = [1,"jack",2.3]
# tuple (Tuples): Ordered, immutable (unchangeable) sequences of items, enclosed in parentheses.
my_tuple = (1, "world", 4.0)
# range: Represents an immutable sequence of numbers, often used in loops.
numbers = range(5) # 0, 1, 2, 3, 4
print(f"{name}\n{my_list}\n{my_tuple}\n{numbers}")

Jane
[1, 'jack', 2.3]
(1, 'world', 4.0)
range(0, 5)

## 3. Mapping Types

In [12]:
# dict (Dictionaries): Unordered collections of key-value pairs, enclosed in curly braces. Keys must be unique and immutable.
my_dict = {"name": "Bob", "age": 30}
print(my_dict)

{'name': 'Bob', 'age': 30}

## 4. Set Types

In [13]:
# set (Sets): Unordered collections of unique, mutable items, enclosed in curly braces.
my_set = {1, 2, 3, 2} # Result will be {1, 2, 3}
print(my_set)

{1, 2, 3}

## 5. Boolean Types

In [14]:
# bool (Booleans): Represents truth values, either True or False.
is_active = True
print(is_active)

True